@CHARSET "UTF-8";
#upload_table{
	width:400px;
	height:250px;
}
form{
	height:280px;
	width:420px;
	margin:30px auto 0;
}
#upload_input{
	height:25px;
	width:60px;
	font-size:15px;
	font-weight:bold;
	background-color:orange;
	color:white;
}
#error_td{
	font-size:12px;
	color:red;
	display:none;
}
#translation{
	width:250px;
	height:100px;
}