@CHARSET "UTF-8";
div,ul,li,span,p{
	margin:0px;
	padding:0px;
}
#video_div{
	height:400px;
	width:860px;
	margin:5px 0px 5px 5px;
	border:1px solid #B89226;
	float:left;
}
#video_ranking_div{
	height:400px;
	width:220px;
	margin:5px 5px 5px 0px;
	border:1px solid #B89226;
	float:right;
}
#music_div{
	height:360px;
	width:860px;
	margin:5px 0px 5px 5px;
	border:1px solid #B89226;
	float:left;
}
#music_ranking_div{
	height:400px;
	width:220px;
	margin:5px 5px 5px 0px;
	border:1px solid #B89226;
	float:right;
}
.one_div{
	height:368px;
	width:209px;
	float:left;
	margin:0 2px;
	color:#ffffff;
	border:1px solid #DEA402;
}
.one_div p{
	height:30px;
	line-height:30px;
	text-align:center;
	width:210px;
	background-color:#DEA402;
}
#audio_ul{
	height:336px;
	/*width:210px;*/
	margin:2px 0;
	list-style-type:none;
}
#audio_ul li{
	height:34px;
	margin:0 2px;
	line-height:30px;
	text-align: left;
	/*width:208px;*/
}
#audio_ul li a{
	padding-left:20%;
	text-align:left;
	text-decoration:none;
	display:block;
}
#audio_ul li a:hover{
	background-color:#DEA402;
}
.old_li{
	background-color:#ccceee;
}
#picture_div{
	height:400px;
	width:860px;
	margin:5px 0px 5px 5px;
	border:1px solid #B89226;
	float:left;
}
#border_div{
	height:370px;
	width:850px;
	margin:10px 10px;
}
.scenery_div{
	height:165px;
	width:190px;
	margin:0 20px 10px 0px;
	float:left;
	position:relative;
}
.theme_detail_div{
	display:none;
	text-align:center;
	color:#ffffff;
	position:absolute;
	top:0px;
	left:0px;
	width:180px;
	height:26px;
	background-color: rgba(0, 0, 0, 0.4); 
}
.theme_detail_div span{
	 
}
.detail_div{
	display:none;
	color:#ffffff;
	position:absolute;
	left:0px;
	bottom:0px;
	width:180px;
	height:26px;
	background-color: rgba(0, 0, 0, 0.4); 
}
.picture_name_span{
	float:left;
}
.piture_date_span{
	float:right;
}
#picture_div img{
	height:165px;
	width:180px;
	display:block;
	border:1px solid green;
}
#picture_ranking_div{
	height:400px;
	width:220px;
	margin:5px 5px 5px 0px;
	border:1px solid #B89226;
	float:right;
}
.clear{
	clear:both;
}
.title_div{
	height:30px;
	width:860px;
	line-height:30px;
	background-color:#B89226;
}
.title_span{
	margin-left:10px;
	font-size:20px;
	font-weight:bold;
	color:#FFFFFF;
}
.more_video_span{
	float:right;
}
.more_video_span a{
	color:#ffffff;
	text-decoration:none;
}
.rank_title_div{
	height:30px;
	width:220px;
	line-height:30px;
	background-color:#DEA402;
}
.rank_title_div span{
	margin-left:10px;
	color:#FFFFFF;
}
.video_file_div{
	height:180px;
	width:202px;
	margin:2px 5px 2px 5px;
	border:1px solid #cccccc;
	float:left;
}
.video_file_div img
{
	height:130px;
	width:202px;
}
.video_detail_div{
	height:50px;
	width:202px;
	background-color:#EEEEEE;
}
.video_title_div{
	font-size:15px;
	height:25px;
	line-height:30px;
	width:195px;
	padding-left:5px;
}
.video_author_div{
	font-size:15px;
	height:25px;
	line-height:30px;
	margin-left:5px;
	width:195px;
	color:#999999;
}
.video_author_div span{
	font-size:12px;
	margin-left:15px;
}
.video_date_span{
	float:right;
	padding-left:30px;
}

.rank_ul li{
	height:25px;
	width:200px;
	margin:5px 10px;
	background-color:#eeeeee;
	list-style-type:none;
}

.number_div{
	height:25px;
	padding:0 8px;
	margin-left:4px;
	line-height:25px;
	borde-radius:5px;
	text-align:center;
	display:inline;
	color:#ffffff;
	background-color:#DEA402;
}
.rank_ul li span{
	margin-left:10px;
}
.rank_ul li span a{
	text-decoration:none;
}